In [6]:
import pandas as pd

import simulation

In [10]:
sim = simulation.Simulation(300, 100_000, 10*7, 0.6, 2)

In [11]:
sim.init_simulation()

In [12]:
sim.run_simulation()

100%|██████████| 70/70 [07:03<00:00,  6.05s/it]

In [13]:
results = pd.DataFrame(sim.results)

In [23]:
results['week'] = (results.iteration + 1) // 7
byweek = results.groupby(['week', 'movie']).sum().selections.reset_index()

In [27]:
byweek.sort_values(by=['week', 'selections'], ascending=False).groupby('week').head(10)

      week  movie  selections
3298    10    298         905
3034    10     34         886
3279    10    279         880
3010    10     10         879
3248    10    248         860
...    ...    ...         ...
212      0    212        3694
293      0    293        3693
227      0    227        3679
274      0    274        3545
229      0    229        3544

[110 rows x 3 columns]