In [2]:
import pathlib

import pandas as pd

In [8]:
files = list(pathlib.Path("../data").glob("*"))

In [15]:
by_country = pd.read_csv(files[0], sep='\t')
globe = pd.read_csv(files[1], sep='\t')

The by country file contains weekly top 10 data for 94 countries, across 36 weeks, for movies and TV shows. 

The global file contains global top 10 data across 36 weeks, with a rounded total hours viewed value for each entry. It also categorizes films and TV shows into English and non-English.

The by country file is a better fit for this task, since the global lists are going to be heavily weighted by differences in population.

In [30]:
by_country

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,AR,2022-03-06,Films,1,Chernobyl 1986,NaN,2
1,Argentina,AR,2022-03-06,Films,2,The Weekend Away,NaN,1
2,Argentina,AR,2022-03-06,Films,3,Against The Ice,NaN,1
3,Argentina,AR,2022-03-06,Films,4,Restless,NaN,2
4,Argentina,AR,2022-03-06,Films,5,Spider-Man: Into the Spider-Verse,NaN,1
...,...,...,...,...,...,...,...,...
67655,Vietnam,VN,2021-07-04,TV,6,Reply 1988,Reply 1988: Season 1,1
67656,Vietnam,VN,2021-07-04,TV,7,"Nevertheless,","Nevertheless,: Season 1",1
67657,Vietnam,VN,2021-07-04,TV,8,Too Hot to Handle,Too Hot to Handle: Season 2,1
67658,Vietnam,VN,2021-07-04,TV,9,Record of Ragnarok,Record of Ragnarok: Season 1,1
67659,Vietnam,VN,2021-07-04,TV,10,Crash Landing on You,Crash Landing on You: Season 1,1

In [31]:
globe

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,cumulative_weeks_in_top_10
0,2022-03-06,Films (English),1,The Weekend Away,NaN,44450000,1
1,2022-03-06,Films (English),2,Against The Ice,NaN,30730000,1
2,2022-03-06,Films (English),3,A Madea Homecoming,NaN,26410000,2
3,2022-03-06,Films (English),4,Spider-Man: Into the Spider-Verse,NaN,13940000,1
4,2022-03-06,Films (English),5,Shrek 2,NaN,13040000,1
...,...,...,...,...,...,...,...
1435,2021-07-04,TV (Non-English),6,Elite,Elite: Season 1,10530000,1
1436,2021-07-04,TV (Non-English),7,Elite,Elite: Season 3,10200000,1
1437,2021-07-04,TV (Non-English),8,Elite,Elite: Season 2,10140000,1
1438,2021-07-04,TV (Non-English),9,Katla,Katla: Season 1,9190000,1
1439,2021-07-04,TV (Non-English),10,Record of Ragnarok,Record of Ragnarok: Season 1,9140000,1